// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 10rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left: 0.1rem;  
  //auto;
  margin-right: 0.1rem;
  //auto;
}

footer {
  margin-bottom: 2rem;
}
